.videoSidebar{
    position: absolute;
    top: 40%;
    right: 10px;
    color: white;
}

.videoSidebar__options{
    padding: 10px;
}

.videoSidebar__options p {
    text-align: center;
}

@media only scream and (max-width: 440px){
    .videoSidebar{
        top: 35%;
    }
}